input {
    padding: 6px;
    font-size: 18px;
    margin-top: 6px;
    margin-bottom: 12px;
    width: 100%;
}

.login-form {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 300px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center
}

.err-msg {
    background-color: #FFCDCD;
    color: #FF0000;
    padding: 16px;
    margin-bottom: 6px;
    border-radius: 6px;
}

#submit {
    width: 100%;
    border-radius: 6px;
}